* {
  font-family: "Microsoft JhengHei", serif;
  text-align: center;
}

$classname: "calendars";

.#{$classname} {
  max-width: 600px;
  margin: auto;

  .tophead {
    display: flex;
    list-style-type: none;
    background-color: #ede9dd;
    // height: 50px;
    position: relative;
    outline: 1px solid #ede9dd;

    padding-inline-start: 0px; // 解決一開始預設40px的問題

    // 包住箭頭以解決箭頭不能點的問題
    .arrow_wrap_left {
      height: 25px;
      width: 15px;
      position: absolute;
      top: 15px;
      color: transparent;
    }
    
    .arrow_wrap_right {
      // height: 25px;
      // width: 15px;
      // position: absolute;
      // top: 15px;
      // right:0px;
      // color: transparent;
      // content: "";
      cursor: pointer;
      height: 0;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      vertical-align: center;
      right: 6px;
      border-style: solid;
      border-width: 7px 0px 7px 7px;
      border-color: transparent transparent transparent #e10500;
      // #e10500

    }

    &::before {
      content: "";
      cursor: pointer;
      height: 0;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      vertical-align: center;
      left: 6px;
      border-style: solid;
      border-width: 7px 7px 7px 0;
      border-color: transparent #e10500 transparent transparent;
    }

    // &::after {
    //   content: "";
    //   cursor: pointer;
    //   height: 0;
    //   position: absolute;
    //   transform: translateY(-50%);
    //   top: 50%;
    //   vertical-align: center;
    //   right: 6px;
    //   border-style: solid;
    //   border-width: 7px 0px 7px 7px;
    //   border-color: transparent transparent transparent #e10500;
    // }

    a {
      display: table;
      width: 100%;
      height: 50px;
      // border-top: 3px solid #ede9dd;
      text-decoration: none;
      margin: 0 3px;

      // .wasclick {  // 因為層級關係所以無法?
      // background-color:#fff
      // }

      span {
        font-size: 16px;
        color: #666;
        line-height: 1.25;
        display: table-cell;
        vertical-align: middle;
      }
    }

    .active {
      background-color: #fff;
    }

    .tophead__month {
      margin: 0px 1px;
      width: calc(100% / 3);

      .now {
        //點擊月份時，text-> red
        color: #e10500;
      }
    }
  }

  //calendarBodycomponent

  .bodycalendar {
    .weekcontainer {
      // list-style-type: none;
      display: flex;
      border: 1px solid #f4f4f4;

      >div {
        // weekcontainer中的div，因為不想再重新寫className(有太多個)
        width: (100% / 7);
        text-align: center;
        color: #666;
        font-size: 12px;
        padding: 12px;
        font-weight: bold;
      }
    }

    .daycontainer {
      display: flex;
      box-sizing: border-box;
      border: 1px solid #f4f4f4;
      border-top: none;
      border-right: none;
      flex-wrap: wrap;

      // outline: 1px solid red;

      .day {
        width: (100%/7);

        box-sizing: border-box;
        border: 1px solid #f4f4f4;
        border-left: none;
        border-top: none;
        height: 100px;
        position: relative;

        &.disabled {
          background-color: #f8f8f8;
        }

        .generalinfo {
          width: 100%;
          height: 20px;
          display: inline-block;
        }

        .daynum {
          display: block;
          position: absolute;
          top: 2px;
          left: 2px;
          color: #444;
        }

        .guaranteed {
          padding: 0 3px;
          /* width: 100%; */
          height: 20px;
          color: #fff;
          /* text-align: right; */
          position: absolute;
          top: 3px;
          right: 3px;
          line-height: 20px;
          background-color: #fe8400;
        }


        .details {
          text-align: left;
          display: inline-block;
          width: 100%;

          >span {
            display: block;
            width: 100%;
            height: 16px;
            text-align: left;
          }

          .status {
            // color: #ff7800;
          }

          .sell {}

          .group {}

          .price {
            display: inline-block;
            width: 100%;
            color: #e10500;
          }
        }
      }
    }
  }
}

// .text {
//     font-family: 'Microsoft JhengHei', serif;
//     text-align: center;
// }

// .test {
//     color: blue;
// }